.product-card{
    width: 300px;
    margin: 10px 20px;
    padding:15px 30px;
    border: Jpx solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.product-card-image{
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: white;
}
.product-card-name{
    font-size: 20px;
    font-weight: 1000;
    /* display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.product-card-price{
    font-size: 20px;
    font-weight:800 ;
    color: rgb(13, 13, 60);
    
}
.product-card-btn{
display: block;
width: 90%;
font-size: 16px;
text-decoration: none;

}